# VM的dex文件
*.dex

# Java类文件
*.class

# 自动生成文件
bin/
gen/
out/
**/build/
# Gradle 文件
.gradle/
# 本地配置文件 (sdk path, 等)
local.properties
# 日志文件
*.log

# Intellij 文件
*.iml
.idea/
!/settings.gradle
!/gradlew.bat
!/build.gradle
!/gradlew
!/src/main/java/
